/.github                    export-ignore
/.gitattributes             export-ignore
/phpunit.xml                export-ignore
/tests                      export-ignore
/README.md                  export-ignore
/sonar-project.properties   export-ignore
/phpstan.neon               export-ignore
test.xml                    export-ignore
/wiki                       export-ignore
