<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="" tests="8" assertions="19" errors="0" warnings="0" failures="0" skipped="0" time="0.028621">
    <testsuite name="P\Tests\CriteriaTest" file="/home/usantisteban/Projects/ComplexHeart/php-criteria/tests/CriteriaTest.php" tests="5" assertions="15" errors="0" warnings="0" failures="0" skipped="0" time="0.022440">
      <testcase name="Change complete and partially the criteria order parameter." class="Tests\CriteriaTest" classname="Tests.CriteriaTest" file="/home/usantisteban/Projects/ComplexHeart/php-criteria/tests/CriteriaTest.php" assertions="7" time="0.007266"/>
      <testcase name="Change complete and partially the criteria page parameter." class="Tests\CriteriaTest" classname="Tests.CriteriaTest" file="/home/usantisteban/Projects/ComplexHeart/php-criteria/tests/CriteriaTest.php" assertions="5" time="0.002429"/>
      <testcase name="Change the complete filter object from criteria." class="Tests\CriteriaTest" classname="Tests.CriteriaTest" file="/home/usantisteban/Projects/ComplexHeart/php-criteria/tests/CriteriaTest.php" assertions="1" time="0.002554"/>
      <testcase name="Add filters to criteria object." class="Tests\CriteriaTest" classname="Tests.CriteriaTest" file="/home/usantisteban/Projects/ComplexHeart/php-criteria/tests/CriteriaTest.php" assertions="1" time="0.007021"/>
      <testcase name="Criteria object is correctly serialized to string." class="Tests\CriteriaTest" classname="Tests.CriteriaTest" file="/home/usantisteban/Projects/ComplexHeart/php-criteria/tests/CriteriaTest.php" assertions="1" time="0.003170"/>
    </testsuite>
    <testsuite name="P\Tests\FilterGroupTest" file="/home/usantisteban/Projects/ComplexHeart/php-criteria/tests/FilterGroupTest.php" tests="3" assertions="4" errors="0" warnings="0" failures="0" skipped="0" time="0.006180">
      <testcase name="FilterGroup only accept Filter instances." class="Tests\FilterGroupTest" classname="Tests.FilterGroupTest" file="/home/usantisteban/Projects/ComplexHeart/php-criteria/tests/FilterGroupTest.php" assertions="2" time="0.001643"/>
      <testcase name="Create FilterGroup from primitive array of values" class="Tests\FilterGroupTest" classname="Tests.FilterGroupTest" file="/home/usantisteban/Projects/ComplexHeart/php-criteria/tests/FilterGroupTest.php" assertions="1" time="0.001194"/>
      <testcase name="Create FilterGroup without duplicate filters." class="Tests\FilterGroupTest" classname="Tests.FilterGroupTest" file="/home/usantisteban/Projects/ComplexHeart/php-criteria/tests/FilterGroupTest.php" assertions="1" time="0.003343"/>
    </testsuite>
  </testsuite>
</testsuites>
